---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro'

interface Props {
  name: string
  description: string
  year: number
}

export const getStaticPaths = (() => {
  return [
    { params: { slug: 'react' }, props: { name: 'React', description: 'A JavaScript library for building user interfaces', year: 2013 } },
    { params: { slug: 'vue' }, props: { name: 'Vue', description: 'A progressive framework for building user interfaces', year: 2014 } },
    { params: { slug: 'angular' }, props: { name: 'Angular', description: 'A framework for building single page apps', year: 2016 } },
    { params: { slug: 'svelte' }, props: { name: 'Svelte', description: 'A framework for building user interfaces', year: 2018 } },
  ];
}) satisfies GetStaticPaths;

const { name, description, year } = Astro.props
---

<Layout title={name}>
  <div class="text-center text-gray-700 p-5">
    <h1 class="text-3xl font-bold mb-2">{name}</h1>
    <p>{description}</p>
  </div>
</Layout>
