@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.btn {
  @apply px-3 py-1 bg-blue-600 text-white rounded cursor-pointer hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-link {
  @apply text-blue-600 underline hover:text-blue-700 cursor-pointer;
}

.input {
  @apply w-full px-2 py-1 border border-gray-300 bg-white rounded focus:border-blue-600 focus:outline-none focus:ring focus:ring-blue-600;
}
